body{
  background: #2c3e50;
}
.heading{
  display: flex;
  justify-content: center;
}
.heading h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 3.5vw;
  color: antiquewhite;
}


.field{
  display: flex;
  justify-content: center;
}

.field input {
  width: 60%;
  height: 3vw;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: normal;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.field input ::placeholder{
  color: black;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  
  .field input{
      height: 6vw;
      margin: 10px;
      width: 80%;
      font-size: 4vw;
  }
}

@media only screen and (max-width: 800px) and (min-width:600px) {
  .field input{
      height: 5vw;
      margin: 10px;
      width: 70%;
      font-size: 3vw;
  }
}